* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-pai {
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: space-around;
}

.header-pai button {
  background-color: white;
  border: none;
}
