* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-pai {
  align-items: center;
  background-color: darkgoldenrod;
  display: flex;
  height: 8vh;
  justify-content: space-around;
}

.lupa {
  background-color: darkgoldenrod;
  border: none;
}

.search-bar {
  margin-left: -17rem;
  position: absolute;
  top: 100px;
}

.radios input {
  margin-right: 1.3rem;
}

.buscar-btn {
  background-color: darkgoldenrod;
  border: none;
  border-radius: 5px;
  height: 3vh;
  margin-left: 1.5rem;
  width: 18vw;
}

.pesquisa {
  margin-top: 1rem;
}

.pesquisa input {
  border-radius: 5px;
  height: 3vh;
}

.footer {
  align-items: center;
  background-color: darkgoldenrod;
  bottom: 0;
  display: flex;
  height: 9vh;
  justify-content: space-between;
  left: 0;
  position: fixed;
  right: 0;
}

.son-footer img {
  margin-left: 5.5rem;
}

.btns {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.btns button {
  border-radius: 5px;
  margin: 0.5rem 0.8rem;
  padding: 0.4rem;
}

.recipes-page img {
  width: 35vw;
}

.itens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.itens div {
  background-color: rgb(211, 106, 7);
  border-radius: 5px;
  margin: 0.3rem;
  padding: 1rem;
  text-align: center;
}

.itens img {
  border-radius: 5px;
}
